{% extends 'layout.twig' %}

{% block content %}
    <div class="border m-5 p-4">
        <form method="POST" action="/jobs/add" enctype="multipart/form-data">
            <h1 class="display-1 text-center">Add job</h1>
            {% if message %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% endif %}
            <div class="form-group m-1">
                <label for="title">Title:</label>
                {% if errors.title %}
                <div class="alert alert-danger" role="alert">
                    The title is wrong
                </div>
                {% endif %}

                <input required class="form-control" type="text" name="title" placeholder="Titulo">
            </div>
            <div class="form-group m-1">
                <label for="description">Description:</label>
                {% if errors.description %}
                <div class="alert alert-danger" role="alert">
                    The description is wrong
                </div>
                {% endif %}

                <input  required class="form-control" type="text" name="description" placeholder="Descripcion" value="">
            </div>
            <div class="form-group m-1">
                <label for="months">Months:</label>
                {% if errors.description %}
                <div class="alert alert-danger" role="alert">
                    The months is wrong
                </div>
                {% endif %}

                <input required class="form-control" type="number" name="months" placeholder="Meses" value="">
            </div>
            <div class="form-group m-1">
                <label for="logo">Logo:</label>
                {% if errors.logo %}
                <div class="alert alert-danger" role="alert">
                    The logo image is wrong
                </div>
                {% endif %}
                <input class="form-control" type="file" name="logo">
            </div>
            <button type="submit" class="btn btn-primary" name="button">Enviar</button>
        </form>
    </div>
{% endblock %}
